/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text-area   {
    -fx-text-fill:  #ffffff;
}

.text-area *.text {
    -fx-text-alignment: center;
}
.text-area .content {
    -fx-background-color:   #6b3751;
}


.list-cell {
    -fx-text-fill: #333333;
}

.jfx-hamburger StackPane {
	-fx-background-color: #f48b56;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}